<!-- 
######################################################################
# Project           : JSONP Attack
#
# Program name      : mitigated.html
#
# Author            : Evan Kivolowitz
#
# Date created      : 02/19/2019
#
# Purpose           : HTML file returned by mitigated.py
#
# Credit            :
#
# Use                                    Source
#
# Revision History  :
#
# Date        Author              Ref    Revision 
# 02/19/2019  Evan Kivolowitz      1     Created prototype of project.
# 02/28/2019  Evan Kivolowitz      2     Updated headers.
# 02/28/2019  Evan Kivolowitz      3     Added hint.
#
######################################################################
-->
<html>
<head>
    <title>Mitigated JSONP</title>
</head>
    <body>
    	
            <p> Your data is: {{ dataToTheFrontEnd }} </p>
			<p>Om nom nom nom data that is rightfully mine!</p>
    </body>
</html>
